<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleExecutable</key>
    <string>NotchCPUMonitor</string>
    <key>CFBundleIdentifier</key>
    <string>com.orangekame3.NotchCPUMonitor</string>
    <key>CFBundleName</key>
    <string>NotchPulse</string>
    <key>CFBundleDisplayName</key>
    <string>NotchPulse</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>CFBundleShortVersionString</key>
    <string>0.1.4</string>
    <key>CFBundleIconFile</key>
    <string>NotchPulse</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>LSUIElement</key>
    <true/>
    <key>LSMinimumSystemVersion</key>
    <string>13.0</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright © 2026 orangekame3. All rights reserved.</string>
</dict>
</plist>
